# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Resultados gerados
results/
*.csv
*.png

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Packaging
build/
dist/
*.egg-info/
sat_sim.egg-info/
